<link rel="stylesheet" href="~/Content/Clock/clock.css">
<div class="clock">
    <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
</div>
@Scripts.Render("~/Scripts/Clock/clock.js")
